body{
    background: linear-gradient(to right, #9087d7, #b787ff);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
    font-family: sans-serif;
}
.container{
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px red;
    width: 300px;

}
h2{
    text-align: center;
    margin-bottom: 20px;
}
#spacebox{
    width: 100%;
    padding: 13px;
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    box-sizing: border-box;
    background-color: rgb(210, 214, 213);
    padding-left: 40px;
}
#sbtbtn{
    background-color: #4CAF50;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    width: 150px;
}
#sbtbtn:hover{
    background-color: #3e8e41;
}

a{
    text-decoration: none;
    color: #9c9c9c;
    font-size: 1.07rem;
    padding-left: 45px;
    
}
a:hover{
    color: #23527c;
}
#create{
    padding-left: 90px;
}
